.Rproj.user
.Rhistory
.RData
.Ruserdata
/Rpackage/iMRMC/iMRMC.Rproj
/Rpackage/iMRMC.Rcheck
/Rpackage/iMRMC_1.2.1.tar.gz
/Rpackage/iMRMC/man
/Rpackage/iMRMC/input.imrmc
/Rpackage/iMRMC/tests/testthat/Rplots.pdf
/iMRMC.Rproj
