table.results th a, table.results th a:visited { padding-right: 12px; margin-right: 2px;}

.prettyprint td.source {
  white-space: pre;
  word-wrap: break-word;
  width: 75em !important;
}

.issuedescription pre, .issuecomment pre {
  white-space: pre;
  word-wrap: break-word;
  width: 70em;
}

#ac-list {
  max-height: none;
}
